@font-face {
    font-family: Raleway;
    src: url("assets/fonts/Raleway-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url("assets/fonts/Raleway-Light.ttf");
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #0c0e12;
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    /* border: 1px solid red;  */
    background-color: #c6dfff;
    border-bottom: 1px solid #81a3cc;


}

main {
    border-bottom: 1px solid  #81a3cc;
    /* border: 1px solid rgb(25, 0, 255); */
}

footer {

    /* border: 1px solid rgb(30, 255, 0); */
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
}

.section-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #4d2323;
}

.link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
}

.link:hover {
    color: #5d7260;
}

.section-title-profile {
    font-size: 36px;
    font-weight: 500;
    color: #134b90;
    position: relative;
    padding: 0;
    margin-bottom: 50px;
    line-height: 1px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.section-title {
    font-size: 18px;
    font-weight: 300;
    /* letter-spacing: 1px; */
    color: #091309;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    line-height: 2px;
    /* word-spacing: 3px; */
}

.section-text-profile {
    font-size: 18px;
    font-weight: 300;
    /* letter-spacing: 1px; */
    color: #091309;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1px;
    /* word-spacing: 3px; */
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section-profile-main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid  #81a3cc;
    /* padding: 200px 30px 35px; */
}

.section {
    /* display: flex;
    justify-content: space-around;
    width: 50%;
    border-bottom: 1px solid  #81a3cc;
    padding: 200px 30px 35px; */

    width: calc(50% - 20px);
    text-align: left;
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid  #81a3cc;
}

.section-profile {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    text-align: right;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 20px;

}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.margin { 
    margin-top: 50px;
}